scope: {{ patroni_scope }}
namespace: {{ patroni_namespace }}
name: {{ node_name }}

restapi:
  listen: {{ patroni_restapi_listen }}
  connect_address: {{ patroni_restapi_connect_address }}

etcd3:
  hosts: 
  {% for item in postgres_ips %}
      - "{{ item.ip }}:2379"
  {% endfor %}

bootstrap:
  dcs:
    ttl: {{ patroni_ttl }}
    loop_wait: {{ patroni_loop_wait }}
    retry_timeout: {{ patroni_retry_timeout }}
    maximum_lag_on_failover: {{ patroni_maximum_lag_on_failover }}
    
postgresql:
  listen: {{ patroni_postgres_listen }}
  connect_address: {{ patroni_postgres_connect_address }}
  data_dir: {{ patroni_postgres_data_dir }}
  bin_dir: {{ patroni_postgres_bin_dir }}
  authentication:
    replication:
      username: {{ patroni_replication_username }}
      password: {{ patroni_replication_password }}
    superuser:
      username: {{ patroni_superuser_username }}
      password: {{ patroni_superuser_password }}
  parameters:
    wal_level: replica
    max_wal_senders: 10
    max_replication_slots: 10
    hot_standby: 'on'
    shared_buffers: 128MB 
    effective_cache_size: 250MB # Adjust based on your server's RAM
    listen_addresses: {{ ansible_default_ipv4.address }}
    port: 5432
  
  pg_hba:
    - host all all 0.0.0.0/0 md5 # Allow all connections with md5 authentication
    - host replication replicator 10.12.0.0/16 md5 # Allow replication 
    - host replication replicator 10.11.0.0/16 md5 # Allow replication from a specific subnet

  initdb:
    - encoding: {{ patroni_initdb_encoding }}
    - data-checksums
  users:
    admin:
      password: {{patroni_superuser_password}} # Patroni's superuser password
      options:
        - createrole
        - createdb
    replicator:
      password: {{ patroni_replication_password }} # Password for replication user
      options:
        - replication